<app-menucomponent></app-menucomponent>

<div *ngIf="navigation">
    <div style="margin-top: 150px; margin-left: 150px;">
        <img src="./assets/images/invoice.png" style="width: 150px; margin-left: 50px;"/>
        <img src="./assets/images/mobile-transfer.png" style="width: 150px;margin-left: 350px;"/>
        <img src="./assets/images/faucet.png" style="width: 150px;margin-left: 450px; "/>
      </div>
      
      <button style="margin-top: 50px; width: 140px;margin-left: 200px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;">Pay Electricity</button>
      <button style="margin-top: 50px; width: 140px;margin-left: 350px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;">Pay Telephone</button>
      <button (click)="waterbtn();" style="margin-top: 50px; width: 140px;margin-left: 450px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;" >Pay Water</button>  
    
</div>
<router-outlet></router-outlet>
