
  <td style="text-align: center; ">{{id}}</td>
  <td style="text-align: center;"><input></td>
  <td  style="text-align: center;"><input></td>
  <button style="margin-top: 150px;margin-left: -250px; border-width: 0; width: 80px; height: 32px; font-size: 15px;background-color: rgb(1, 142, 203); margin-right: 20px;border-color: rgb(1, 142, 203);">Add</button>
  <button (click)="onCancel()" (click)="isCancel=!isCancel" style=" border-width: 0; width: 80px; height: 32px; font-size: 15px;background-color: rgb(1, 142, 203); border-color: rgb(1, 142, 203);">Cancel</button>
  <p>{{isCancel}}</p>