.emailcss {
    top: 230px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }

  .passwordcss {
    top: 290px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }

  .buttoncss {
    top: 340px;
    left: 520px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-text {
    top: 143px;
    left: 500px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
  }
  .signupwordcss {
    top: 380px;
    left: 410px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
  }
  .signupbtncss {
    border: none;
    top: 380px;
    left: 590px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
  }