<span class="home-text">Create Your Account</span>
<form (submit)="signUp()">
    <input type="text" placeholder="First Name" class="home-textinput input" name ="firstname"[(ngModel)]="firstname"/>
    <input type="text" placeholder="Last Name" class="home-textinput2 input" name ="lastname"[(ngModel)]="lastname"/>
    <input type="text" placeholder="Username" class="home-textinput3 input" name ="username" [(ngModel)]="displayName">
    <input type="text" placeholder="Email" class="home-textinput1 input" name="email" [(ngModel)]="email"/>
    <input type="password" placeholder="Password" class="home-textinput4 input" name="password"  [(ngModel)]="password" />
    <input type="password" placeholder="Confirm Password" class="home-textinput5 input" name ="confirmpassword"[(ngModel)]="confirmpassword"/>
    <input type="text" placeholder="Mobile Number" class="home-textinput7 input" name ="mobilenumber"[(ngModel)]="mobilenumber"/>
    <input type="text" placeholder="Address" class="home-textinput6 input" name ="address"[(ngModel)]="address"/>
    <button type="submit" class="home-button button">Sign Up</button>


    
  </form>

  
    
    
  
   
   
   
    
    
  
  