<div class="container">
<span class="home-text">Create Your Account</span>
<form (submit)="signUp()">
    <input type="text" placeholder="First Name" class="inp" name ="firstname"[(ngModel)]="firstname"/>
    <input type="text" placeholder="Last Name" class="inp" name ="lastname"[(ngModel)]="lastname"/>
    <input type="text" placeholder="Username" class="inp" name ="username" [(ngModel)]="displayName">
    <input type="text" placeholder="Email" class="inp" name="email" [(ngModel)]="email"/>
    <input type="password" placeholder="Password" class="inp" name="password"  [(ngModel)]="password" />
    <input type="password" placeholder="Confirm Password" class="inp" name ="confirmpassword"[(ngModel)]="confirmpassword"/>
    <input type="text" placeholder="Mobile Number" class="inp" name ="mobilenumber"[(ngModel)]="mobilenumber"/>
    <input type="text" placeholder="Address" class="inp" name ="address"[(ngModel)]="address"/>
    <button type="submit" class="signupbtncss">Sign Up</button>


    
  </form>

</div>
    
    
  
   
   
   
    
    
  
  