.home-text {
    top: 143px;
    left: 420px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
  }
  .home-textinput {
    top: 230px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput1 {
    top: 470px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput2 {
    top: 310px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput3 {
    top: 390px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput4 {
    top: 550px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput5 {
    top: 630px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput6 {
    top: 710px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }
  .home-textinput7 {
    top: 790px;
    left: 470px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }


  .home-button {
    top: 845px;
    left: 500px;
    position: absolute;
    background-color: var(--dl-color-gray-900);
  }