<div style="width: 1600px; margin-left: -15px; height: 100px;background-color: black;margin-top: -15px;"></div>

<header [ngClass]="{'header': isAdmin(), 'header1': !isAdmin(),'header2': isService()}">
  <div class="logo-container">
    <img src="logo.ico" alt="Logo" class="logo">
    <h1 class="logo-text">Billing System</h1>
  </div>
  <nav class="nav">
    <img src="./assets/images/profile.png" (click)="profile2Nav()">
            
    <a *ngIf="!isAdmin() && !isService()" (click)="goHome()" class="nav-link">Home</a>
    <a *ngIf="!isAdmin() && !isService()" (click)="wallet()" class="nav-link">Wallet</a>
    <a *ngIf="isAdmin()"  (click)="userwallet()"class="nav-link">User's Wallet</a>
    <a *ngIf="isAdmin()"  (click)="adminElec()"class="nav-link">Admin Elec</a>
    <a *ngIf="isAdmin()"  (click)="searchuser()"class="nav-link">Search user</a>
    <a *ngIf="isService()"  (click)="addoffer()"class="nav-link">Add Offer</a>
    <a *ngIf="isService()"  (click)="viewoffer()"class="nav-link">View Offers</a>
    <a *ngIf="isService()"  (click)="deleteoffer()"class="nav-link">Delete Offer</a>
    <a  class="nav-link">Help</a>
    <a  (click)="LogOut()"class="nav-link">Sign Out</a>
    

    <div class="user-info" *ngIf="userEmail; else noUserLoggedIn">
      Logged in as: {{ userEmail }}
    </div>
    <ng-template #noUserLoggedIn>
      No user logged in
    </ng-template>
  </nav>
</header>


<main class="main">
  <router-outlet></router-outlet>
</main>

