<div style="margin-top: 150px; margin-left: 150px;">
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/9f/34/93/9f349379cfcf4862b3e874e0e9e3fa93/images/home/u0.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px; margin-left: 50px;"/>
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/9f/34/93/9f349379cfcf4862b3e874e0e9e3fa93/images/home/u1.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px;margin-left: 350px;"/>
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/9f/34/93/9f349379cfcf4862b3e874e0e9e3fa93/images/home/u2.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px;margin-left: 450px; "/>
  </div>
  
  <button style="margin-top: 50px; width: 140px;margin-left: 200px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;"(click)="PayElec()">Pay Electricity</button>
  <button (click)="phonebtn();" style="margin-top: 50px; width: 140px;margin-left: 350px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;">Pay Telephone</button>
  <button (click)="waterbtn();" style="margin-top: 50px; width: 140px;margin-left: 450px; height: 30px; background-color:aliceblue;border-radius: 5px;border-color:dimgray;" >Pay Water</button>  
    